<!doctype html>
<html>
<head>
<title>Home</title>
<meta charset="utf-8">
<link href="css/style.css" rel='stylesheet' type='text/css'>
</head>
<body>
<h1>草料二维码</h1>
<div class="log">
	<div class="content2">
		<h2>Sign Up</h2>
		<form align="center">
			<input action="" type="text" name="userid" value="USERNAME" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'NAME AND SURNAME';}">
			<input aciton="" type="password" name="psw" value="PASSWORD" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'PASSWORD';}">
			<input type="submit" class="register" value="Register">
		</form>
	</div>
	<div class="clear"></div>
</div>

</body>
</html>